body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cadastro-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 45px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: rgb(5, 92, 92); /* Cor do botão */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    font-size: 16px;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Transição suave */
}

input[type="submit"]:hover {
    background-color: cyan; /* Cor do botão ao passar o mouse */
    transform: scale(1.05); /* Aumenta levemente o botão */
    opacity: 0.9; /* Leve diminuição da opacidade */
}

.success-message {
    color: green;
    margin: 10px 0;
}

.error-message {
    color: red;
    margin: 10px 0;
}

@media (max-width: 500px) {
    .cadastro-container {
        padding: 15px;
    }

    input[type="submit"] {
        font-size: 14px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 14px;
    }
}